package {{ .Name.Lower }}

import (
	g "maragu.dev/gomponents"
	h "maragu.dev/gomponents/html"
)

const IconifyVersion = "{{.Version}}"

var (
  hAttr = g.Attr("height", "1em")
  viewbox = g.Attr("viewbox", "0 0 {{.ViewWidth}} {{.ViewHeight}}")
)


{{range .Icons -}}
func {{.Name.Pascal}}(children ...g.Node) g.Node {
	return h.SVG(
		viewbox, hAttr,
		g.Raw(`{{.Icon.SvgBody}}`), g.Group(children),
	)
}

{{end}}