package {{ .PackageName.Lower }}

import (
	g "github.com/maragudk/gomponents"
	s "github.com/maragudk/gomponents/svg"
)

func {{.Name.Pascal}}(children ...g.Node) g.Node {
	return s.SVG(
		g.Attr("viewbox", "0 0 {{.ViewWidth}} {{.ViewHeight}}"),
		g.Raw(`{{.SvgBody}}`),
		g.Group(children),
	)
}